@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-weight: 450;
    font-style: normal;
}

#navbar {
    background-color: #f5faff;
    font-size: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.jumbotron {
    background: linear-gradient(to right, #051e32, #003659, #045293);
    color: white;
}

#title {
    font-size: 40pt;
    margin-bottom: 0;
}

.jumbotron .container .lead {
    font-size: 20pt;
}

#heading1 {
    font-size: 20pt;
}

#img, #img1 {
    display: block;
    margin: 20px auto;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#img { max-width: 40%; }
#img1 { max-width: 60%; }

#open-quiz {
    background-color: #2994e0;
    width: 150px;
    transition: all 0.3s ease;
}

#open-quiz:hover {
    background-color: white;
    color: #2994e0;
    transform: scale(0.9);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px;
    border-radius: 12px;
    border-color: #001e4d;
    width: 90%;
    max-width: 600px;
    position: relative;
}

#closeQuiz {
    position: absolute; 
    top: 15px;          
    right: 20px;        
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#closeQuiz:hover {
    color: #001e4d;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background-color: #001e4d;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#text-answer {
    background-color: #f0f0f0; 
    color: #222;
    border: 1px solid #222;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#text-answer:focus {
    background-color: #fff; 
    color: #000; 
}


#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease;
}

#next-btn:hover {
    background-color: #045293;
    transform: scale(0.9);
}

.correct {
    background-color: #9aeabc !important;
    color: #001e4d;
}

.incorrect {
    background-color: #ff9393 !important;
    color: #001e4d;
}

footer {
    background-color: #003659;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    padding: 20px;
}

.about, .links, .contact {
    flex: 1;
    min-width: 200px;
}

.footer-bottom {
    text-align: center;
    padding: 17px 0 20px;
    background-color: #051e32;
    color: #fff;
}

.footer-section ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}